POSTGRES_USER=DB USERNAME
POSTGRES_PASSWORD= ALFANUMERIC STRING WITH SYMBOLS
PORT= PORT OF DB
POSTGRES_DB= NAME OF DB
API_KEY= API KEY FROM FATTURE IN CLOUD
JWT_SECRET= LONG ALFANUMERIC STRING
JWT_EXPIRATION = INTEGER
PASSWORD_SALT_ROUNDS=INTEGER